@tailwind base;

@layer base {
    * {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 1.5;
    }

    a {
        text-decoration: none;
    }
}
@tailwind components;
@tailwind utilities;

.bg-warm-gradient {
    background: -webkit-linear-gradient(90deg, #eae6ff,#f4f4f4);
    background: linear-gradient(90deg, #eae6ff,#f4f4f4);
}

.bg-gradient-base {    
    background: 
        radial-gradient(at 63.261459248684474% 40.435661867180194%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), 
        radial-gradient(at 18.473599030629593% 79.40548977479239%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), 
        radial-gradient(at 47.40296924426739% 16.607117886821054%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), 
        radial-gradient(at 1.8497164291168877% 26.801765486112174%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), 
        radial-gradient(at 62.88192195325533% 74.38051770016652%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 1) 0%, hsla(246.66666666666663, 40.29850746268652%, 86.86274509803921%, 0) 100%), 
        radial-gradient(at 14.260879250351266% 9.302307798394338%, hsla(48.00000000000007, 100%, 99.01960784313727%, 1) 0%, hsla(48.00000000000007, 100%, 99.01960784313727%, 0) 100%), 
        radial-gradient(at 96.49018180932643% 46.06238425943015%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%), 
        radial-gradient(at 18.84291244561107% 45.7932449716266%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 1) 0%, hsla(201.95121951219514, 71.92982456140355%, 88.8235294117647%, 0) 100%), 
        radial-gradient(at 24.214807677915395% 43.8602030360739%, hsla(270, 53.84615384615389%, 94.90196078431372%, 1) 0%, hsla(270, 53.84615384615389%, 94.90196078431372%, 0) 100%);
}

.bg-gradient-dark {
    background: 
        radial-gradient(at 75.38236198720878% 24.880566230435086%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 12.968831796429448% 0.5436477549711771%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 21.972326706581736% 9.782016126501736%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 61.569777491065935% 60.73847134178727%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 21.707744075904035% 67.71472787863458%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 79.01398106048656% 14.80663461126377%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 21.670599049870297% 76.20628302421481%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 97.53631548001984% 89.58227432944916%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%), 
        radial-gradient(at 52.50630144121473% 6.161437255132118%, hsla(27.058823529411764, 100%, 50%, 1) 0%, hsla(27.058823529411764, 100%, 50%, 0) 100%), 
        radial-gradient(at 22.080814837332262% 41.6498658555438%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), 
        radial-gradient(at 51.43585002715929% 42.30354671123504%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 1) 0%, hsla(232.6829268292683, 30.82706766917293%, 26.078431372549023%, 0) 100%);            
}
